/* Creacion de una variable */
:root {
    /* correcta manera de crear una variable */
    --color: rgb(255, 255, 255);
}

body {
    /* toma las especificaciones de la variable creada */
    background: var(--color) ;
    margin: 0;
}


/* Tambien podemos crear clases apartir de emojis,guion bajo,guion.  Pero no puede inciar con numero */
.title {
    background: rgb(12, 253, 113);
    margin: 0px;
    color: white;
}

/* Esto son mi clases creadas para concatenar mas rapido cuando necesite cambiar */
.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

/* ################################################## */

.description {
    color: red;
}

/* Los ID sirven una vez, preferible para usarlo con javaScript */
#parrafo {
    color: chocolate;
}
