body {
    margin: 0;
}

:root {
    --color: red;
}

body {
    background: var(--color) ;
}

h1 {
    font-size: 1rem;
    margin: 1;
    font-size: normal;
    color: var(--color);
    background: chartreuse;
}

.contenido {
    color: #fff;
}

