* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

[class^="box-"] {
    background: yellow;
    padding: 50px;
    width: 300px;
    float: left;
}

p {
    clear: both;
    background: pink;
}

.box-1 {
    /* * 5 Maneras de como podemos poner margin a los Box's model */
    /* margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 200px;
    margin-left: 30px; */

    /* margin: 50px 100px 200px 30px; */

    /* margin: 50px 100px 200px; */

    /* margin: 50px 100px; */

    margin: 50px;
}

[ class^="boxmodel-"] {
    background: yellow;
    padding: 50px;
    width: 50%;
    
}

.boxmodel-1 {
    margin-bottom: -50px;
    border: 10px solid black;
}

.boxmodel-2 {
    margin-top: 50px;
}

.container {
    background: lime;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.item {
    margin-left: -20px;
    margin-right: -20px;
    border: 1px solid black;
}